# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA
.idea/
*.iml

# Compiled class files
*.class

# Logs
*.log

# Maven
target/

# Gradle
.gradle/
build/

# OS junk
.DS_Store
Thumbs.db

#IntelliJ IDEA
.idea/
.idea_modules/
.idea_workspace.xml
